<div class="container">
  <header class="d-flex justify-content-left py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="{% url 'polls:index' %}"
                              class="nav-link active" aria-current="page">PonderPoll</a>
      </li>
      <li class="nav-item"><a href="{% url 'users:sign-up' %}" class="nav-link">SignUp</a></li>
      <li class="nav-item"><a href="{% url 'users:sign-in' %}" class="nav-link">SignIn</a></li>
      <li class="nav-item"><a href="{% url 'polls:poll-add' %}" class="nav-link">CreatePoll</a></li>
    </ul>
  </header>
</div>
